.tab_head {
  .title {
    min-width: 140px;
    border-right: 2px solid #eee;
    margin-right: 10px;
    padding: 10px;
  }

  .filterSearch {
    flex: 1 1 0px;
    padding: 10px;
    position: relative;

    .ng-fa-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      opacity: 0.5;
    }
  }

  .sorting {
    min-width: 80px;
    border-left: 2px solid #eee;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    a {
      color: #333;
      opacity: 0.5;
    }
  }

}

.table-responsive {
  thead {
    background: #f7f7f7;
  }

  tr {

    th,
    td {
      padding: 20px 15px;
    }
  }

}
